<%= form_with(model: slot, local: true) do |form| %>
  <% if slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='form'>

    <div class="field">
      <%= form.label :topic %>
      <%= form.text_field :topic, id: :slot_topic, :required => true %>
    </div>

    <div class="field">
      <%= form.label :speaker %>
      <%= form.text_field :speaker, id: :slot_speaker, :required => true  %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :slot_description, rows: 6, cols: 30 %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>

  </div>
<% end %>
