<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @slot.topic %>
</p>

<p>
  <strong>Speaker:</strong>
  <%= @slot.speaker %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slot.description %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> 
