<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :session_name %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :session_company %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_field :about, id: :session_about %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :session_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, id: :session_time %>
  </div>

  <div class="field">
    <%= form.label :number_of_slots %>
    <%= form.number_field :number_of_slots, id: :session_number_of_slots, min: 1, max: 20 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
