<%= form_with(model: session, local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :session_name, :required => true%>
    </div>

    <div class="field">
      <%= form.label :company %>
      <%= form.text_field :company, id: :session_company %>
    </div>

    <div class="field">
      <%= form.label :about %>
      <%= form.text_area :about, id: :session_about, rows: 6, cols: 30  %>
    </div>

    <div class="field">
      <%= form.label :date %>
      <%= form.date_field :date, id: :session_date, value: Date.today %>
    </div>

    <div class="field">
      <%= form.label :time, 'Start Time' %>
      <%= form.time_field :time, id: :session_time, value: "12:00"%>
    </div>

    <!-- Show number of slots in New, but not Edit -->
    <% if @session.id.nil? %>
      <div class="field">
        <%= form.label :number_of_slots %>
        <%= form.number_field :number_of_slots, id: :session_number_of_slots, value: 6, min: 1, max: 20 %>
      </div>

      <div class="field">
        <%= form.label :length_of_slots %>
        <%= form.number_field :length_of_slots, id: :session_length_of_slots, value: 10, min: 1, max: 30 %>
        <span style="font-size: 0.8em;">
          minutes
        </span>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
