<!-- Show Session View -->

<p id="notice"><%= notice %></p>

<div style = "display: flex">
  <h1>
    <%= @session.name %>
  </h1>

  <div style="margin-top: auto; margin-bottom: auto; margin-right: 40px;">
    (<%= link_to 'Edit', edit_session_path(@session) %>)
  </div>

  <div style="margin-top: auto; margin-bottom: auto;">
    <strong>Scheduled at:</strong>
    <%= @session.scheduled_at.strftime('%A, %B %-d %Y %l:%M%P ') %>
  </div>

</div>


<div>
  <%= @session.about %>
</div>


<div style = "margin-top: 40px;">
  <% @session.slots.each do |slot| %>
    <%= link_to edit_slot_path(slot) do%>
      <div class="slot empty-slot">
        Select Slot
      </div>
    <% end %>
  <% end %>
</div>
