<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @session.name %>
</p>

<p>
  <strong>Company:</strong>
  <%= @session.company %>
</p>

<p>
  <strong>About:</strong>
  <%= @session.about %>
</p>

<p>
  <strong>Scheduled at:</strong>
  <%= @session.scheduled_at.strftime('%A, %B %-d %Y %l:%M%P ') %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %>

<div>
  <% @session.slots.each do |slot| %>
    <div>
      <%= link_to 'slot', edit_slot_path(slot)%>
    </div>
  <% end %>
</div>
