<!DOCTYPE html>
<html>
  <head>
    <title>ShowAndTell</title>
    <%= csrf_meta_tags %>

    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/topbar" %>
    <div id = 'contents' style = 'margin-left: auto; margin-right: auto; margin-top: 20px;'>
      <%= yield %>
    </div>

  </body>
</html>
